body{
    background-color: whitesmoke;
}

.item{
    height: 50vh;
    background-size: cover;
    background-position: center center;
    background-position: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.item-1{
    background-image: url('../img/pexels-jonathan-petersson-1076183.jpg');
}

.item-2{
    background-image: url('../img/pexels-pixabay-262325.jpg');
}

.item-3{
    background-image: url('../img/pexels-pixabay-33109.jpg');
}

.item-4{
    background-image: url('../img/pexels-pixabay-235621.jpg');
}

.btn-orange{
    background: orange;
}